body, html 
{
    height: 100%;
    width:100%;
    scroll-behavior:smooth;
}

.clouds {
    position: fixed;
    width: 100%;
    height: 800px;
    background-color: whitesmoke;
    animation: fade 3s ease-in-out;
    animation-iteration-count: 1;
    opacity: 0;
    filter: blur(30px);
    z-index:-1;
}

@keyframes fade
{
    from {
        opacity: 1;
        z-index:3;
    }
    to {
        opacity: 0;
        z-index:-1;
    }
}

a
{
    color:white;
    padding:5px;
}

.left-navigation {
    position: fixed;
    width: 120px;
    height: auto;
    background-color: darkcyan;
    text-align: center;
    color: white;
    top: 60px;
    border-radius: 10px;
}

.menu 
{
    height:500px;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;  
}

#information 
{
    height: 100%;
    width: 100%; 
    text-align:start;
    padding: 10px;
    padding-left:160px;
    
}

.image1, .image2, .image3, .image4, .image5 
{
    
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.image1 {
    background-image: url("../Background Images/image5.jpg");  
}
.image2 {
    background-image: url("../Background Images/image3.jpg");
}
.image3 {
    background-image: url("../Background Images/image10.jpg");
}
.image4 {
    background-image: url("../Background Images/image1.jpg");
}
.image5 {
    background-image: url("../Background Images/image7.jpg");
}

.About, .Education, .Work, .Project,.Certificate {
    max-width:100%;
    height: auto;
    background-color: darkslategray;
    color: white;
    font-size:20px;
    overflow:hidden;
}

a:hover {
    background-color: white;
    color: black;
    transition: 0.8s;
    text-decoration: none;
    border: 1px solid white;
}

.image1box, .image2box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    min-height: 60px;
    max-width: 70%;
    position: relative;
    top: 120px;
    left: 220px;
    color: white;
    font-size: 40px;
    line-height: 30px
}

.image1heading 
{
    font-size:30px;
    align-self: end;
}

.Certificate img
{
    min-height:90%;
    max-width:100%;
}

@media (max-width:768px)
{
    .image1, .image2, .image3, .image4, .image5 
    {
        background-attachment:initial;
    }
}
