body
{
    background-color: #f3f4f6;
    color: #111827; /* dark gray */
}

.container
{
    height:80vh;
    max-width: 80%;
    background-color: #ffffff;
    margin:auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1
{
    padding:20px;
}

button
{
    margin:30px 5px;
    padding:10px 20px;
    border-radius: 10px;
    font-weight: 600;
    background: linear-gradient(135deg, #2563eb, #7c3aed);
    color: white;
}

button:hover
{
    opacity: 0.9;
    transform: translateY(-1px);
}

.radio-button
{
    margin:10px; 
}

.radio-label
{
    font-size: 20px;
    font-weight: 800;
    margin-right:40px;
}

.text-box
{
    height:30px;
    border-radius: 5px;
}