body 
{
    min-height: 100vh;
    max-height: 160vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color:white;
    font-family:'Times New Roman';
}

.bg 
{
    max-width: 100vw;
    min-height: 100vh;
    background-image: url("../Background Images/bg1.png");
    background-size: cover;
    z-index:1;
}

.tree {
    position: absolute;
    width: 600px;
    min-height: 550px;
    background-image: url("../Background Images/tree.png");
    top: 190px;
    right: 0;
}

.moon {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 220px;
    min-height: 220px;
    background-image: url("../Background Images/moon.png");
    background-size: cover;
}

.birds {
    position: absolute;
    top: 500px;
    width: 200px;
    min-height: 300px;
    background-image: url("../Background Images/bird.png");
    background-size: cover;
    transform: rotateY(180deg);
    left: -200px;
}

.lake {
    position: relative;
    width: 100vw;
    min-height: 500px;
    background-color:#282847;
    text-align: start;
    z-index:3;
    top:-140px;
}

.name 
{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:end;
    justify-self:center;
    width:200px;
    background:transparent;
    color:white;
    font-size:25px;
}

.navbar 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
    opacity: 0;
    transition: 2s;
}

.menu-button {
    color: white;
    background-color: rebeccapurple;
    padding: 10px;
    border: none;
    transition: 0.5s;
}

.menu-button:hover 
{
    color:deeppink;
}

.show {
    opacity: 1;
}

.section
{
    display:none;
}

.description-content
{
   overflow:auto;
   width:80%;
   margin:20px auto;
   transition:2s;
}

.hide
{
    opacity:0;
}

.certificate-grid
{
    text-align:center;
}

img
{
    height:400px;
    width:500px;
}

.scroll-info
{
    position:absolute;
    top:10%;
    left:45vw;
    right:45vw;
    color:black;
    font-size:20px;
}

a
{
    color:white;
}
